body {
  font-family: Arial, sans-serif;
  background-color: #00b7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Asegura que el contenido ocupe al menos el 100% del alto de la ventana */
  box-sizing: border-box; /* Para asegurar que el padding y border no sobrepasen el tamaño total */
}


.registro {
  color: #19a2eb; 
  font-size: 1.5rem; 
  margin-bottom: 1rem; 
}

/* Contenedor principal */
.App-header {
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px; 
  text-align: center;
  margin-top: 1rem; 
  box-sizing: border-box; /* Asegura que el padding y border no sobrepasen el tamaño total*/
}

.titulo-principal {
  font-size: 2rem;
  color: #00c8ff;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
  border-radius: 4px;
}

/* Estilos para los campos en línea (Edad y Teléfono) */
.camposEnLinea {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.campos {
  flex: 0 0 48%;
}

/* Estilos para el botón */
.submit-button {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 1rem;
}
